# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# CLI binary
nla-go
/sdk-api

# Example compiled binaries (benchmarks)
examples/*/healthz
examples/*/svc
examples/*/mongo-bench
examples/*/mysql-bench
examples/*/turso-bench
examples/*/exit-workers
examples/*/file-upload
examples/*/url-link-nats
examples/*/url-link-base
examples/*/nla-*-amd64
examples/auth-*/*/auth-*
examples/auth-*/*/product-service
examples/auth-*/*/products-service
examples/auth-*/*/users-service
examples/auth-*/*/order-service-fga
examples/auth-*/*/product-service-fga
examples/auth-*/*/doc-service-ory
examples/auth-*/*/report-service-ory
examples/*/auth-none-monolith
examples/*/auth-ory-monolith
examples/*/auth-openfga-zitadel-monolith
examples/*/auth-manual-monolith

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
