FROM golang:{{.Version}}-alpine AS builder
WORKDIR /app
COPY go.mod go.sum ./
RUN go mod download
COPY . .
RUN CGO_ENABLED=0 go build -o {{.ExeName}} .

FROM {{.Base}}
{{if eq .Base "scratch"}}COPY --from=alpine:latest /etc/ssl/certs/ca-certificates.crt /etc/ssl/certs/
{{end}}COPY --from=builder /app/{{.ExeName}} /app/{{.ExeName}}
COPY --from=builder /app/service.yaml /app/service.yaml
EXPOSE {{.Port}}
CMD ["/app/{{.ExeName}}"]
