package handler

import (
	"{{.ModulePath}}/internal/logic"
	"{{.ModulePath}}/internal/svc"
	"{{.ModulePath}}/models"
	"{{.SDKModule}}/runtime"
)

func List{{.ModelName}}(svcCtx *svc.ServiceContext) func(*runtime.RestCtx) error {
	return func(c *runtime.RestCtx) error {
		l := logic.New{{.ModelName}}Logic(svcCtx)
		items, err := l.List(c.Context())
		if err != nil {
			return err
		}
		return c.JSON(items)
	}
}

func Get{{.ModelName}}(svcCtx *svc.ServiceContext) func(*runtime.RestCtx) error {
	return func(c *runtime.RestCtx) error {
		l := logic.New{{.ModelName}}Logic(svcCtx)
		item, err := l.Get(c.Context(), c.Params("id"))
		if err != nil {
			return err
		}
		return c.JSON(item)
	}
}

func Create{{.ModelName}}(svcCtx *svc.ServiceContext) func(*runtime.RestCtx) error {
	return func(c *runtime.RestCtx) error {
		var req models.{{.ModelName}}
		if err := c.Bind(&req); err != nil {
			return err
		}
		l := logic.New{{.ModelName}}Logic(svcCtx)
		created, err := l.Create(c.Context(), req)
		if err != nil {
			return err
		}
		return c.Status(201).JSON(created)
	}
}

func Update{{.ModelName}}(svcCtx *svc.ServiceContext) func(*runtime.RestCtx) error {
	return func(c *runtime.RestCtx) error {
		var req map[string]any
		if err := c.Bind(&req); err != nil {
			return err
		}
		l := logic.New{{.ModelName}}Logic(svcCtx)
		updated, err := l.Update(c.Context(), c.Params("id"), req)
		if err != nil {
			return err
		}
		return c.JSON(updated)
	}
}

func Delete{{.ModelName}}(svcCtx *svc.ServiceContext) func(*runtime.RestCtx) error {
	return func(c *runtime.RestCtx) error {
		l := logic.New{{.ModelName}}Logic(svcCtx)
		if err := l.Delete(c.Context(), c.Params("id")); err != nil {
			return err
		}
		return c.SendStatus(204)
	}
}
