package handler

import (
	"{{.SDKModule}}/runtime"
	"{{.ModulePath}}/internal/svc"
)

{{range .RestEndpoints}}
func Handle{{.FuncName}}(svcCtx *svc.ServiceContext) func(*runtime.RestCtx) error {
	return func(c *runtime.RestCtx) error {
		return c.JSON(runtime.Map{"status": "ok"})
	}
}
{{end}}
