package models

import (
	"context"
	"fmt"

	"{{.SDKModule}}/runtime"
)

// BeforeCreate{{.ModelName}} is called before creating a {{.ModelName}}.
// Return the modified request or an error to abort.
func (h *{{.ModelName}}Hooks) BeforeCreate(ctx context.Context, req {{.ModelName}}) ({{.ModelName}}, error) {
	return req, nil
}

// AfterCreate{{.ModelName}} is called after a {{.ModelName}} is created.
func (h *{{.ModelName}}Hooks) AfterCreate(ctx context.Context, entity *{{.ModelName}}) error {
	return nil
}

// BeforeUpdate{{.ModelName}} is called before updating a {{.ModelName}}.
// Return the modified patch or an error to abort.
func (h *{{.ModelName}}Hooks) BeforeUpdate(ctx context.Context, id any, patch map[string]any) (map[string]any, error) {
	return patch, nil
}

// AfterUpdate{{.ModelName}} is called after a {{.ModelName}} is updated.
func (h *{{.ModelName}}Hooks) AfterUpdate(ctx context.Context, entity *{{.ModelName}}) error {
	return nil
}

// BeforeDelete{{.ModelName}} is called before deleting a {{.ModelName}}.
// Return an error to abort.
func (h *{{.ModelName}}Hooks) BeforeDelete(ctx context.Context, id any) error {
	return nil
}

// AfterDelete{{.ModelName}} is called after a {{.ModelName}} is deleted.
func (h *{{.ModelName}}Hooks) AfterDelete(ctx context.Context, id any) error {
	return nil
}
