package main

import (
	"context"
	"log"

	_ "embed"
{{- if .GrpcEnabled}}
	"{{.ModulePath}}/grpcserver"
	"{{.ModulePath}}/pb"
	"google.golang.org/grpc"
{{- end}}

	"{{.ModulePath}}/internal/svc"
	"{{.ModulePath}}/models"
	"{{.SDKModule}}/db"
	"{{.SDKModule}}/runtime"
{{- if .HasRest}}
	"{{.ModulePath}}/internal/handler"
{{- end}}
)

//go:embed service.yaml
var configYAML []byte

func main() {
	s, err := runtime.NewFromYAML(configYAML)
	if err != nil {
		log.Fatalf("init: %v", err)
	}

	svcCtx := svc.NewServiceContext()

{{- if .HasDB}}
	pool := s.PoolPG("{{.DBName}}")
	if pool != nil {
		svcCtx.SetPool("{{.DBName}}", pool)
	}

	table, err := db.NewTable[models.{{.ModelName}}](pool, "{{.DBTable}}")
	if err != nil {
		log.Fatalf("table: %v", err)
	}
	if err := table.AutoInit(context.Background()); err != nil {
		log.Fatalf("auto init: %v", err)
	}
	s.WithCRUD("{{.ModelName}}", runtime.NewCRUDProvider(table, &models.{{.ModelName}}Hooks{}))
	s.WithHooks("{{.ModelName}}", &models.{{.ModelName}}Hooks{})
{{- end}}

{{- if .GrpcEnabled}}
	s.RegisterGrpcService("{{.ModelName}}Service", func(srv *grpc.Server) {
		pb.Register{{.ModelName}}ServiceServer(srv, grpcserver.New{{.ModelName}}Server(svcCtx))
	})
{{- end}}

{{- range .ExitWorkers}}
	s.WithExit("{{.Handler}}", {{.Handler}})
{{- end}}
{{- range .CronJobs}}
	s.WithCron("{{.Handler}}", {{.Handler}})
{{- end}}

{{- if .HasRest}}
	handler.RegisterRestRoutes(s, svcCtx)
{{- end}}

	if err := s.Run(); err != nil {
		log.Fatalf("run: %v", err)
	}
}
