package main

import (
	"context"
	"log"

	_ "embed"
{{- if .GrpcEnabled}}
	"fmt"
	"net"

	"{{.ModulePath}}/grpcserver"
	"{{.ModulePath}}/pb"
	"google.golang.org/grpc"
{{- end}}

	"{{.ModulePath}}/internal/svc"
	"{{.ModulePath}}/models"
	"{{.SDKModule}}/db"
	"{{.SDKModule}}/runtime"
{{- if .HasRest}}
	"{{.ModulePath}}/internal/handler"
{{- end}}
)

//go:embed service.yaml
var configYAML []byte

func main() {
	s, err := runtime.NewFromYAML(configYAML)
	if err != nil {
		log.Fatalf("init: %v", err)
	}

	svcCtx := svc.NewServiceContext()

{{- if .HasDB}}
	pool := s.PoolPG("{{.DBName}}")
	if pool != nil {
		svcCtx.SetPool("{{.DBName}}", pool)
	}

	table, err := db.NewTable[models.{{.ModelName}}](pool, "{{.DBTable}}")
	if err != nil {
		log.Fatalf("table: %v", err)
	}
	if err := table.AutoInit(context.Background()); err != nil {
		log.Fatalf("auto init: %v", err)
	}
	s.WithCRUD("{{.ModelName}}", runtime.NewCRUDProvider(table, &models.{{.ModelName}}Hooks{}))
	s.WithHooks("{{.ModelName}}", &models.{{.ModelName}}Hooks{})
{{- end}}

{{- if .GrpcEnabled}}
	// Start gRPC server in background
	go func() {
		grpcPort := {{.GrpcPort}}
		log.Printf("gRPC server starting on :%d", grpcPort)
		lis, err := net.Listen("tcp", fmt.Sprintf(":%d", grpcPort))
		if err != nil {
			log.Fatalf("gRPC listen: %v", err)
		}
		grpcServer := grpc.NewServer()
		pb.Register{{.ModelName}}ServiceServer(grpcServer, grpcserver.New{{.ModelName}}Server(svcCtx))
		if err := grpcServer.Serve(lis); err != nil {
			log.Fatalf("gRPC serve: %v", err)
		}
	}()
{{- end}}

{{- range .ExitWorkers}}
	s.WithExit("{{.Handler}}", {{.Handler}})
{{- end}}
{{- range .CronJobs}}
	s.WithCron("{{.Handler}}", {{.Handler}})
{{- end}}

{{- if .HasRest}}
	handler.RegisterRestRoutes(s, svcCtx)
{{- end}}

	if err := s.Run(); err != nil {
		log.Fatalf("run: %v", err)
	}
}
