package main

import (
	"context"
	"log"
	"os"

{{- if .GrpcEnabled}}
	"{{.ModulePath}}/grpcserver"
	"{{.ModulePath}}/pb"
	"google.golang.org/grpc"
{{- end}}

	"{{.ModulePath}}/internal/svc"
	"{{.ModulePath}}/models"
	"{{.SDKModule}}/db"
	"{{.SDKModule}}/runtime"
{{- if eq .AuthDriver "manual"}}
	"{{.SDKModule}}/server/middleware"
{{- end}}
{{- if .HasRest}}
	"{{.ModulePath}}/internal/handler"
{{- end}}
)

func main() {
	cfgPath := os.Getenv("CONFIG_PATH")
	if cfgPath == "" {
		cfgPath = "service.yaml"
	}
	s, err := runtime.New(cfgPath)
	if err != nil {
		log.Fatalf("init: %v", err)
	}

	svcCtx := svc.NewServiceContext()

{{- if eq .AuthDriver "manual"}}
	s.WithAuthValidator(func(ctx context.Context, a *middleware.AuthContext, roles, permissions []string) error {
		return nil // TODO: implement role/permission validation
	})
{{- end}}

{{- if .HasDB}}
	pool := s.PoolPGTyped("{{.DBName}}")
	if pool != nil {
		svcCtx.SetPool("{{.DBName}}", pool)
	}

	table, err := db.NewTable[models.{{.ModelName}}](pool, "{{.DBTable}}")
	if err != nil {
		log.Fatalf("table: %v", err)
	}
	if err := table.AutoInit(context.Background()); err != nil {
		log.Fatalf("auto init: %v", err)
	}
	svcCtx.SetTable("{{.ModelName}}", table)
	s.WithCRUD("{{.ModelName}}", runtime.NewCRUDProvider(table, &models.{{.ModelName}}Hooks{}))
	s.WithHooks("{{.ModelName}}", &models.{{.ModelName}}Hooks{})
{{- end}}

{{- if .GrpcEnabled}}
	s.RegisterGrpcService("{{if .GrpcServiceName}}{{.GrpcServiceName}}{{else}}{{.ModelName}}Service{{end}}", func(srv *grpc.Server) {
		pb.Register{{.ModelName}}ServiceServer(srv, grpcserver.New{{.ModelName}}Server(svcCtx))
	})
{{- end}}

{{- range .ExitWorkers}}
	s.WithExit("{{.Handler}}", {{.Handler}})
{{- end}}
{{- range .CronJobs}}
	s.WithCron("{{.Handler}}", {{.Handler}})
{{- end}}

{{- if .HasRest}}
	handler.RegisterRestRoutes(s, svcCtx)
{{- end}}

	if err := s.Run(); err != nil {
		log.Fatalf("run: %v", err)
	}
}
